h1{
    color: red;
    font-size: 60px;
}
div{
    width: 200px;
    height:200px;
background-color: blueviolet;
}
div p{
    color: black;
}
.test-bk p {
    color:blanchedalmond;
}
.test-bk p {
    color: red ;
}
