body {
  background:wheat;
  font-family: 'Poppins', sans-serif;
}

/* Left Side Image Styling */
.image-side {
  background: linear-gradient(135deg, #c34db1, #540532);
}

/* Card (Form) Styling */
.form-card {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border: none;
}

.form-label {
  font-weight: 500;
}

.btn-primary {
  background-color: #4a69bd;
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #1e3799;
}

/* For smaller screens */
@media (max-width: 767px) {
  .image-side {
    display: none;
  }

  .form-card {
    margin: 20px;
  }
}
